.infinity_line {
  width: 100%;
  transform: translateX(-50%);
  animation: scrollText 30s infinite;
}

.infinity_line span {
  font-size: 96px;
  line-height: 116px;
  font-weight: bold;
}

.infinity_line span + span {
  margin-left: 40px;
}

@keyframes scrollText {
  from {
    transform: translateX(-50%);
  }
  to {
    transform: translateX(-400%);
  }
}
