.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

.black {
  color: var(--white);
  background: var(--black);
  transition: all .3s;
}

.white {
  color: var(--black);
  background: var(--white);
  transition: all .3s;
}

@media (max-width: 1280px) {
  .container {
    padding: 0 50px;
  }
}

@media (max-width: 640px) {
  .container {
    padding: 0;
  }
}

.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  max-width: var(--max-width);
}

.main_title__block {
  width: 100%;
  max-width: var(--max-width);
  margin-bottom: var(--mg-lg);
}

.main_title__img_container {
  width: 100%;
  max-width: 1160px;
  min-height: 348px;
  position: relative;
}